<div class="picture">
    <%= image_tag(@picture.image_url(:picture).to_s, :title => '', :alt =>'') %>
</div>

<div class="centered center">
  <% if @picture.imageable_type == 'Trip' %>
  <%= link_to 'Wróć do podróży', @picture.imageable %>
  <% else %>
  <%= link_to 'Wróć do podróży', @picture.imageable.trip %>
  <% end %>
</div>

