/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.logo { margin-top: 9px; }

.loggedas {
  color: #C5C5C5;
  margin-top: 16px;
}

.navbar .nav > li > a.usr {
  color: #0088CC;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 0;
  font-size: 1em;
}

.navbar .nav > li > a.usr:hover {
  color: white;
}

.navbar .nav > li > a.logout {
  padding-right: 0;
}

.links {
    text-align: right;
}

.clear {
    clear: both;
}

.field { margin-bottom: 10px; }

.field > input { margin-bottom: 0px; }

.field > p.help-block { margin-top: 0px; }

.field > label {
  margin-bottom: 0px;
  font-weight: bold;
}

a:hover { text-decoration: none; }

.nav-pills.big > li > a {
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 10px;
}

.nextto { display: inline; }

.btn.nextto { display: inline; }

.btn.btn-large.btn-primary { margin-bottom: 5px; } /* Even out buttons */

#smallform {
  width: 35%;
  margin-left: auto;
  margin-right: auto
}

.center { text-align: center; }

