// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnails > .span2 {
  width: 158px;
  height: 158px;
  margin-top: 18px;
  margin-bottom: 10px;
}

.thumblinks {
  padding-top: 3px;
}

.description {
  padding: 5px 0 5px 0;
}

.details > .description {
  min-height: 130px;
}

.point > .description {
  padding-bottom: 0;
}

.details > .description-small {
  min-height: 92px;
}

.trip-small { margin-bottom: 18px; }

#wrapper {
  width: 95%;
  margin: auto;
}

#points {
    width: 650px;

    textarea {
        width: 350px;
        height: 80px;
    }

    .point {
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 8px;
        margin-bottom: 8px;
        clear: both;
    }
}

#trips {
    width: 90%;
    margin: 0 auto;

    .trip {
        margin-top: 32px;
        .map {
            width: 50%;
            float: left;
        }
        .details {
            width: 50%;
            min-height: 200px;
            float: left;
        }
    }
    .next {
        clear: both;
    }
}

#trip-new {
    margin-top: 10px;
    #trip-form {
        float: left;
        width: 450px;
    }
    #map {
        float: left;
        width: 450px;
        height: 220px;
    }
}

