// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#points {
    width: 650px;

    textarea {
        width: 350px;
        height: 80px;
    }

    .point {
        border-bottom: 1px solid #eaeaea;
        padding: 4px;
        clear: both;
    }

    .field {
        padding: 10px;
    }
}

#trips {
    width: 90%;
    margin: 0 auto;
    
    .trip {
        margin-top: 32px;
        .map {
            width: 50%;
            float: left;
        }
        .details {
            width: 40%;
            float: left;
        }
    }
    .next {
        clear: both;
    }
}

#trip-new {
    #trip-form {
        float: left;
        width: 450px;
    }
    #map {
        float: left;
        width: 450px;
        height: 220px;
    }
}