// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-header {
  background-color: #f5f5f5;
  padding: 10px 10px 5px;
  margin: -20px -20px 10px;
}

.side {
  border-right: 1px solid #eaeaea;
  margin-left: 24px;
  width: 200px;
}

.showuser {
  margin-top: 8px;
}

.span4 > .span2 {
  margin-left: 8px;
}

.span4 > .span2.about {
  margin-left: 10px;
}

#users {
  width: 100%;
  margin: 30px auto 20px auto;
}

.user {
  margin-top: 20px;
}

.userinfo {
  margin-top: 10px;
  color: #999999;
}

.spaced {
  margin: 10px 0 10px 0;
}

.avatar {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

